{% extends 'base.html' %}

{% block title %}Login - Videlytics.pro{% endblock %}

{% block content %}
<div class="max-w-md mx-auto mt-10">
    <div class="card border rounded-lg shadow-lg p-8">
        <h2 class="text-2xl font-bold text-center mb-6">Log In to Your Account</h2>
        <form method="post">
            {% csrf_token %}
            <div class="space-y-4">
                <div>
                    <label for="id_username" class="block text-sm font-medium">Username</label>
                    <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required id="id_username" class="mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                </div>
                <div>
                    <label for="id_password" class="block text-sm font-medium">Password</label>
                    <input type="password" name="password" autocomplete="current-password" required id="id_password" class="mt-1 block w-full px-3 py-2 border rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                </div>
            </div>
            
            {% if form.errors %}
                <div class="mt-4 text-red-500 text-sm">
                    <p>Your username and password didn't match. Please try again.</p>
                </div>
            {% endif %}

            <div class="mt-6">
                <button type="submit" class="w-full btn-primary text-white font-semibold py-2 px-4 rounded-md">
                    Log In
                </button>
            </div>
        </form>
        <p class="mt-6 text-center text-sm">
            Don't have an account? 
            <a href="{% url 'register' %}" class="font-medium text-indigo-600 hover:text-indigo-500">Sign Up</a>
        </p>
    </div>
</div>
{% endblock %}


